.u-section-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-1 .u-group-1 {
  min-height: 443px;
  height: auto;
  margin-top: 70px;
  margin-bottom: 50px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: Jura;
  line-height: 0.8;
  font-size: 1rem;
  font-weight: 300;
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 145px 24px 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 11px 107px 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 93px auto 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 185px;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(100px) scale(0.001) rotate(0deg);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 66px;
    margin-left: 66px;
  }
} .u-section-2 {
  min-height: 667px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 667px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 666px;
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1354px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1374px;
  }
} .u-section-3 {
  min-height: 666px;
}

.u-section-3 .u-custom-html-1 {
  height: auto;
  min-height: 667px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    min-height: 687px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-custom-html-1 {
    min-height: 707px;
  }
} .u-section-4 {
  min-height: 666px;
}

.u-section-4 .u-custom-html-1 {
  height: auto;
  min-height: 666px;
  margin-top: 0;
  margin-bottom: 0;
} .u-section-5 {
  background-image: url("images/mohammad-alizade-XgeZu2jBaVI-unsplash.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 836px;
}

.u-section-5 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px auto 0;
}

.u-section-5 .u-tabs-1 {
  min-height: 651px;
  height: auto;
  margin-top: 15px;
  margin-bottom: 46px;
}

.u-section-5 .u-tab-list-1 {
  background-image: none;
}

.u-section-5 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-5 .u-tab-pane-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-table-1 {
  width: 895px;
  margin: 0 8px 0 auto;
}

.u-section-5 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-7 {
  border-style: solid;
}

.u-section-5 .u-table-cell-8 {
  border-style: solid;
}

.u-section-5 .u-table-cell-9 {
  border-style: solid;
}

.u-section-5 .u-table-cell-10 {
  border-style: solid;
}

.u-section-5 .u-table-cell-11 {
  border-style: solid;
}

.u-section-5 .u-table-cell-12 {
  border-style: solid;
}

.u-section-5 .u-table-cell-13 {
  border-style: solid;
}

.u-section-5 .u-table-cell-14 {
  border-style: solid;
}

.u-section-5 .u-table-cell-15 {
  border-style: solid;
}

.u-section-5 .u-table-cell-16 {
  border-style: solid;
}

.u-section-5 .u-table-cell-17 {
  border-style: solid;
}

.u-section-5 .u-table-cell-18 {
  border-style: solid;
}

.u-section-5 .u-table-cell-19 {
  border-style: solid;
}

.u-section-5 .u-table-cell-20 {
  border-style: solid;
}

.u-section-5 .u-table-cell-21 {
  border-style: solid;
}

.u-section-5 .u-table-cell-22 {
  border-style: solid;
}

.u-section-5 .u-table-cell-23 {
  border-style: solid;
}

.u-section-5 .u-table-cell-24 {
  border-style: solid;
}

.u-section-5 .u-table-cell-25 {
  border-style: solid;
}

.u-section-5 .u-table-cell-26 {
  border-style: solid;
}

.u-section-5 .u-table-cell-27 {
  border-style: solid;
}

.u-section-5 .u-table-cell-28 {
  border-style: solid;
}

.u-section-5 .u-table-cell-29 {
  border-style: solid;
}

.u-section-5 .u-table-cell-30 {
  border-style: solid;
}

.u-section-5 .u-table-cell-31 {
  border-style: solid;
}

.u-section-5 .u-table-cell-32 {
  border-style: solid;
}

.u-section-5 .u-table-cell-33 {
  border-style: solid;
}

.u-section-5 .u-table-cell-34 {
  border-style: solid;
}

.u-section-5 .u-table-cell-35 {
  border-style: solid;
}

.u-section-5 .u-table-cell-36 {
  border-style: solid;
}

.u-section-5 .u-table-cell-37 {
  border-style: solid;
}

.u-section-5 .u-table-cell-38 {
  border-style: solid;
}

.u-section-5 .u-table-cell-39 {
  border-style: solid;
}

.u-section-5 .u-table-cell-40 {
  border-style: solid;
}

.u-section-5 .u-table-cell-41 {
  border-style: solid;
}

.u-section-5 .u-table-cell-42 {
  border-style: solid;
}

.u-section-5 .u-image-1 {
  width: 394px;
  height: 394px;
  --radius: 41px;
  margin: -448px auto 0 15px;
}

.u-section-5 .u-tab-pane-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-table-2 {
  width: 895px;
  margin: 0 8px 0 auto;
}

.u-section-5 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-5 .u-table-cell-49 {
  border-style: solid;
}

.u-section-5 .u-table-cell-50 {
  border-style: solid;
}

.u-section-5 .u-table-cell-51 {
  border-style: solid;
}

.u-section-5 .u-table-cell-52 {
  border-style: solid;
}

.u-section-5 .u-table-cell-53 {
  border-style: solid;
}

.u-section-5 .u-table-cell-54 {
  border-style: solid;
}

.u-section-5 .u-table-cell-55 {
  border-style: solid;
}

.u-section-5 .u-table-cell-56 {
  border-style: solid;
}

.u-section-5 .u-table-cell-57 {
  border-style: solid;
}

.u-section-5 .u-table-cell-58 {
  border-style: solid;
}

.u-section-5 .u-table-cell-59 {
  border-style: solid;
}

.u-section-5 .u-table-cell-60 {
  border-style: solid;
}

.u-section-5 .u-table-cell-61 {
  border-style: solid;
}

.u-section-5 .u-table-cell-62 {
  border-style: solid;
}

.u-section-5 .u-table-cell-63 {
  border-style: solid;
}

.u-section-5 .u-table-cell-64 {
  border-style: solid;
}

.u-section-5 .u-table-cell-65 {
  border-style: solid;
}

.u-section-5 .u-table-cell-66 {
  border-style: solid;
}

.u-section-5 .u-table-cell-67 {
  border-style: solid;
}

.u-section-5 .u-table-cell-68 {
  border-style: solid;
}

.u-section-5 .u-table-cell-69 {
  border-style: solid;
}

.u-section-5 .u-table-cell-70 {
  border-style: solid;
}

.u-section-5 .u-table-cell-71 {
  border-style: solid;
}

.u-section-5 .u-table-cell-72 {
  border-style: solid;
}

.u-section-5 .u-table-cell-73 {
  border-style: solid;
}

.u-section-5 .u-table-cell-74 {
  border-style: solid;
}

.u-section-5 .u-table-cell-75 {
  border-style: solid;
}

.u-section-5 .u-table-cell-76 {
  border-style: solid;
}

.u-section-5 .u-table-cell-77 {
  border-style: solid;
}

.u-section-5 .u-table-cell-78 {
  border-style: solid;
}

.u-section-5 .u-table-cell-79 {
  border-style: solid;
}

.u-section-5 .u-table-cell-80 {
  border-style: solid;
}

.u-section-5 .u-table-cell-81 {
  border-style: solid;
}

.u-section-5 .u-table-cell-82 {
  border-style: solid;
}

.u-section-5 .u-table-cell-83 {
  border-style: solid;
}

.u-section-5 .u-table-cell-84 {
  border-style: solid;
}

.u-section-5 .u-image-2 {
  width: 394px;
  height: 394px;
  --radius: 41px;
  margin: -448px auto 54px 15px;
}

@media (max-width: 1399px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-5 .u-table-2 {
    width: 807px;
  }

  .u-section-5 .u-image-2 {
    width: 310px;
    height: 310px;
    margin-top: -404px;
    margin-bottom: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-5 .u-table-2 {
    margin-right: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: 15px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-5 .u-table-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-table-2 {
    width: 720px;
    margin-top: 30px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 58px;
    margin-bottom: -298px;
    margin-left: 187px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-5 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-table-1 {
    width: 540px;
  }

  .u-section-5 .u-table-2 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-5 .u-table-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    margin-left: 30px;
  }
}